[Unit]
Description=Rover firmware
After=network-online.target gpsd.service
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/fareed/auto-rover/firmware
ExecStart=/usr/bin/python3 -u main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/fare/auto-rover

[Install]
WantedBy=multi-user.target